body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0e0e0;
}

#game-container {
    margin: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#options {
    display: flex;
    justify-content: space-around;
}
